export(arrange)
export(desc)
export(colwise, numcolwise, catcolwise)
export(count)
export(as.data.frame.function)
export(defaults)
export(each)
export(add_margins)
export(splat)
export(summarise, summarize)
export(failwith)
export(tryapply)
export(idata.frame)
export(join)
export(id)
export(laply)
export(daply)
export(aaply)
export(ldply)
export(ddply)
export(adply)
export(llply)
export(dlply)
export(alply)
export(mdply)
export(maply)
export(mlply)
export(m_ply)
export(l_ply)
export(d_ply)
export(a_ply)
export(rlply)
export(rdply)
export(raply)
export(r_ply)
export(create_progress_bar)
export(progress_none)
export(progress_text)
export(progress_tk)
export(progress_win)
export(.)
S3method(print, quoted)
S3method(names, quoted)
export(eval.quoted)
S3method(as.quoted, call)
S3method(as.quoted, character)
S3method(as.quoted, factor)
S3method(as.quoted, formula)
S3method(as.quoted, quoted)
S3method(as.quoted, name)
S3method(as.quoted, NULL)
S3method(as.quoted, numeric)
S3method("[", quoted)
S3method(c, quoted)
export(as.quoted)
export(is.formula)
export(rbind.fill.matrix)
export(rbind.fill)
export(split_labels)
useDynLib(plyr)
export(is.discrete)
export(unrowname)
export(true)
export(compact)
export(empty)
