export(amv_dimnames)
export(arrange)
export(desc)
export(colwise, numcolwise, catcolwise)
export(count)
export(as.data.frame.function)
export(defaults)
export(each)
export(match_df)
export(mutate)
export(quickdf)
export(rename)
importFrom(stats, setNames)
export(round_any)
export(splat)
export(strip_splits)
export(summarise, summarize)
export(failwith)
export(try_default)
export(tryapply)
export(vaggregate)
export(id)
S3method("[", idf)
S3method(names, idf)
S3method(dim, idf)
S3method(as.data.frame, idf)
S3method("[[", idf)
export(idata.frame)
export(join)
export(join.keys)
useDynLib(plyr)
export(laply)
export(daply)
export(aaply)
export(ldply)
export(ddply)
export(adply)
export(liply)
export(isplit2)
export(llply)
export(dlply)
export(alply)
export(mdply)
export(maply)
export(mlply)
export(m_ply)
export(l_ply)
export(d_ply)
export(a_ply)
export(rlply)
export(rdply)
export(raply)
export(r_ply)
export(create_progress_bar)
export(progress_none)
export(progress_text)
export(progress_tk)
export(progress_win)
export(., is.quoted)
S3method(print, quoted)
S3method(names, quoted)
export(eval.quoted)
S3method(as.quoted, call)
S3method(as.quoted, character)
S3method(as.quoted, factor)
S3method(as.quoted, formula)
S3method(as.quoted, quoted)
S3method(as.quoted, name)
S3method(as.quoted, NULL)
S3method(as.quoted, numeric)
S3method("[", quoted)
S3method(c, quoted)
export(as.quoted)
export(is.formula)
export(rbind.fill.matrix)
export(rbind.fill)
export(split_labels)
export(is.discrete)
export(unrowname)
export(true)
export(compact)
export(empty)
