pre, code {
  font-family: 'Inconsolata', monospace;
  background-color: #eee;
  color: #000;
}

pre {
  border: 1px solid #ccc;
  padding: 5px; 
  line-height: 1.4em;
  margin: 0.75em 0 0.75em 0;
}

#header {
  margin-top: 5em;
  margin-bottom: 1em;
}
#footer {
  margin-top: 5em;
  margin-bottom: 1em;
}